@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif,微軟正黑體;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
hr {
    width: 90%;
    border: 0;
    margin: auto;
    height: 1px;
    background: #333;
    background-image: none;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
.section_title {
    font-size: 4rem;
    margin: 10px auto;
}
/*-------------------------------*/
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
    width: 100%;
    height: 100%;
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .navbar {
    margin: auto 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#header .logo {
    margin: auto 10px;
}
#header h1 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}
#header .list {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
#header .list a {
    margin: 0 10px;
}
#header .list h1 {
    font-size: 1.5rem;
    font-weight: 400;
}
/*----------------------------------*/

#hero {
    background-image: url(./img/首頁背景.png);
    background-size: cover;
    background-position: top right;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75 ;
    z-index: -1;
}
#hero::before {
    content: "";
    position: absolute;
    background-image: url(./img/螢光3.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top right;
    animation: back_reveal 10s ease infinite reverse  ;
    animation-delay: 2.3s;
    opacity: 0;
}

#hero .hero {
    max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;   
}
#hero h1{
    display: block;
	width: fit-content;
	font-size: 3rem;
	color: transparent;
    position: relative;
    margin-bottom: 10px;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 1.75s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #329ad5;
    animation: text_reveal_box 1s ease ;
    animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.25s;
}
#hero .button_container {
    position: relative;
    width: 120px;
    height: 60px;
    background-color: transparent;
    margin: 0 ;
    margin-top: 50px;
}
#hero .on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
}
#hero .button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #329ad5 solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    /*transition: background .1s, left .1s ;*/
    
}
#hero .button .words::after {
    content: "IF YOU CAN";
    position: absolute;
    left: 9%;
    visibility: hidden;
}
@media (hover:hover) {
    #hero .on:hover .button {
        animation: move_button 0.2s ease forwards ;
    /*   content: "123";
        left: 50%;
        background: #329ad5;*/
    }
    #hero .on:hover .words {
        visibility: hidden;
    }
    #hero .on:hover .words::after {
        animation: showwords 0.2s ease forwards;
    }
}
@media (hover: none) {
    
    .on:focus .button {
        animation: move_button 0.2s ease-in-out forwards  ;
    /*   content: "123";
        left: 50%;
        background: #329ad5;*/
    }
    #hero .on:focus .words {
        animation: show 0.2s ease-in-out forwards;
    }
    #hero .on:focus .words::after {
        animation: showwords 0.3s  ease-in-out forwards;
    }
    @keyframes show {
        100% {
            visibility: hidden;
        }
        
    }
}


@keyframes showwords{
    70%{
        visibility: hidden;
    }
    100%{
        visibility: visible;

    }
}

@keyframes move_button {
    10% {
        left: 0;
        width: 80%;
    }
    50% {
        left: 120%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}

@keyframes back_reveal {
	
    90% {
        opacity: 0;
    }
    92.5% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    97.5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*head */
/*about*/
#about .about {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 80px;
    flex-direction: column;
}

#about .left {
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    margin: 20px;
}
#about .left .selfish {
    width: 100%;
    height: 100%;
}
#about .right {
    width: 100%;
    margin: 0;
    padding: 0 ;
    text-align: left;
}
#about h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 10px auto;
}
#about p {
    font-size: 2rem;
    
}

/*-------------------------------------------*/

#skill .skill {

    text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 80px;
    flex-direction: column;
    justify-content: flex-start;
}

#skill .top {
    width: 100%;
    height: 100px;
    
}
#skill .down {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#skill .section_title {
    font-size: 3rem;
    font-weight: 300;
}
#skill .section_title span{
    color: #329ad5;
    font-weight: 500;
}
#skill .box {
    width: 250px;
    height: 420px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px #dadadae1;
    transition:  0.3s ;
    overflow: hidden;
}
#skill .box h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 20px auto;
}
#skill .box .icon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
 
}
#skill .icon img {
    width: 65px;
    height: 65px;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.3s;
    
}
#skill .icon img:hover {
    scale: 1.5;
}
#skill .box:hover {
    width: 420px;
}
#skill .box:hover .words{
    animation: skill_showwords 0.3s 0.18s ease forwards;
}
#skill .box:hover .icon {
    align-items: flex-start;
}
#skill .icon .words {
    text-align: left;
    padding: 10px;
    padding-left: 0;
    padding-right: 20px;
    font-size: 1.8rem;
    width: 70%;
    height: 100%;
    position: absolute;
    top:0;
    left: 30%;
    opacity: 0;
}
@keyframes skill_showwords {
    100% {
        opacity: 1;
    }
}
@media (hover: hover)  {
    #skill .icon img:hover {
        scale: 1.5;
    }
    #skill .box:hover {
        width: 420px;
    }
    #skill .box:hover .words{
        animation: skill_showwords 0.3s 0.18s ease forwards;
    }
    #skill .box:hover .icon {
        align-items: flex-start;
    }
}
@media (hover: none) {
    #skill .icon img:focus {
        scale: 1.5;
    }
    #skill .box:focus {
        width: 420px;
    }
    #skill .box:focus .words{
        animation: skill_showwords 0.3s 0.18s ease forwards;
    }
    #skill .box:focus .icon {
        align-items: flex-start;
    }
}  
/*----------------------------*/

#contact {
    background-color: rgb(130, 130, 130);
    width: 100%;
    height: auto;
    position: relative;
}
#contact .contact {
    width: 100px;
    height: 100%;
    min-height: 17vh;
    margin: auto auto;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: relative;
}
#contact .info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    
}
#contact .info p {
    font-size: 12px;
    padding-left: 5px;

}
#contact .contact img {
    width: 20px;
    height: 20px;
    margin:1px;

}
#contact .bottom {
    position: absolute;
    margin-bottom: 3px;
    width: 100px;
    bottom: 0;    
 
}
#contact .top {
    width: 50px;
    height: 30px;
    position: absolute;
    background: rgb(91, 91, 91);
    bottom: 100%;
    right: 0;
}
#contact .top p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 5px;
}
#contact .top:hover {
    scale: 0.9;
}
@media only screen and (min-width: 768px) {
    #header .list a {
        margin: 0 30px;
    }
    #header .list h1 {
        font-size: 2rem;
    }
    #hero .button_container {
        width: 150px;
        height: 70px;   
    }
    #hero h1 {
        font-size: 4rem;
    }
    #hero .words {
        font-size: 2rem;
    }

    #about .about {
        flex-direction: row;
        justify-content: space-between;
    }
    #about .left {
        width: 250px;
        height: 250px;
        aspect-ratio: 1;
    }
    #about .left .selfish {
        width: 100%;
        height: 100%;
    }
    #about .right {
        margin-left: 50px;
        padding: 0 50px;
    }
  

    #skill .skill {

        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 80px;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #skill .top {
        width: 100%;
        height: 100px;
    }
    #skill .down {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #skill .section_title {
        font-size: 5rem;
    }
   

    #contact .contact {
        height: 60px; 
        width: 40%;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;
    }
    #contact .info {
        width: 150px;
    }
    #contact .info p {
        font-size: 1.5rem;
    }
    #contact .contact img {
        width: 35px;
        height: 35px;
        margin:3px;
    
    }
    #contact .top {
        width: 80px;
        height: 45px;

    }
    #contact .top p {
        text-align: center;
        color: white;
        font-size: 2rem;
        margin-top: 12px;
    }
    #contact .bottom {
        font-size: 1.2rem;
        width: auto;
    }
}